.about {
  &__content {
    position: relative;
    @include adaptive-value('padding-bottom', 0, 300);

    @include onTablet {
      display: grid;
      row-gap: 48px;
      padding-bottom: 0;
    }
  }

  &__image {
    display: block;
    width: 100%;
    max-width: 730px;
    aspect-ratio: 730 / 500;
    object-position: center;
    object-fit: cover;
    overflow: hidden;
  }

  &__article {
    position: absolute;
    bottom: 0;
    right: 0;
    display: grid;
    @include adaptive-value('row-gap', 25, 16);
    max-width: 541px;
    @include adaptive-value('padding-top', 96, $min-page-padding);
    @include adaptive-value('padding-left', 96, $min-page-padding);
    background-color: white;

    @include onTablet {
      position: relative;
    }

    @include onMobile {
      padding-block: 0;
      padding-inline: $min-page-padding + px;
      text-align: center;
    }
  }

  &__title {
    @extend %h2;
  }

  &__text {
    opacity: 0.5;
  }
}