.footer {
  @include adaptive-value('padding-block', 44, 56);
  background-color: $c_black;
  color: $c_white;

  &__content {
    display: flex;
    justify-content: space-between;

    @include onTablet {
      display: grid;
      row-gap: 48px;
      justify-content: center;
    }
  }

  &__column {
    display: grid;
    row-gap: 24px;

    @include onTablet {
      row-gap: 32px;
    }

    @include onMobile {
      justify-content: center;
    }

    &--right {
      @include onTablet {
        row-gap: 16px;
      }
    }
  }

  &__logo {
    @include onTablet {
      justify-self: center;
    }
  }

  &__nav {
    @include onMobile {
      justify-self: center;
    }
  }

  &__socials {
    justify-self: flex-end;

    @include onTablet {
      justify-self: center;
    }
  }

  &__copyrights {
    opacity: 0.5;

    @include onTablet {
      text-align: center;
    }
  }
}
