.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  @include adaptive-value('height', $header-desktop-height, $header-mobile-height);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__nav {
    @include onTablet {
      display: none;
    }
  }

  &__burger {
    display: none;

    @include onTablet {
      display: block;
    }
  }
}
