.socials {
  display: grid;
  grid-auto-flow: column;
  column-gap: 16px;
  width: max-content;

  &__link {
    position: relative;
    display: block;
    @include square(24px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -10px;
      display: block;
      width: 24px;
      height: 2px;
      background-color: $c_white;
      transform: translateX(-50%) scale(0);
      transition-duration: transform;
      transition-duration: $amin-time;
    }

    &:hover {
      &::after {
        transform: translateX(-50%) scale(1);
      }
    }

    &--facebook {
      background-image: url("/public/icons/icon-facebook.svg");
    }

    &--twitter {
      background-image: url("/public/icons/icon-twitter.svg");
    }

    &--pinterest {
      background-image: url("/public/icons/icon-pinterest.svg");
    }

    &--instagram {
      background-image: url("/public/icons/icon-instagram.svg");
    }
  }
}
